body {
    background-color: antiquewhite;
    text-align: center;
    font-family: monospace;
    font-size: 25px;
}

#power {
    background-color: bisque;
}

#rusek {
    background-image:url(img/szerokiDominik.jpg);
    color: azure;
}